.container p 
{
    font-size: 30px;
    margin: 5px 5px 10px 5px;
    font-weight: bold;
}

.details 
{
    width: 40%;
    border-collapse: collapse;
    margin: 20px 0px;
}

.details td, .details tr 
{
    padding: 5px;
}

.attendancetable 
{
    width: 75%;
    text-align: left;
    border-collapse: collapse;
    font-size: 15px;
    border-spacing: 10px;
    margin: 40px;
}

.attendancetable, .attendancetable th, .attendancetable td 
{
    border: 1px solid black;
    padding: 8px;
}

.attendancetable td 
{
    background-color: rgb(231, 231, 231);
}

.profile
{
    width: 80%;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(177, 177, 177);
    margin: 0 auto;
}

.profile h1 
{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0px;
}