body span {
    color: white;
}

.itemtable{
    width:60%;
    font-size: 20px;
    margin-top: 30px;
    border-collapse: collapse;
}

.itemtable th {
    text-align: left;
    padding: 5px;
}

.itemtable td{
    padding-top: 6px;
    padding-bottom: 6px;
}

.quantity {
    padding: 5px;
}

.locationtitle{
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    transform: translate(-23%, 0);
}

#submitrecord{
    margin-top: 40px;
    width: 10%;
}

.line{
    background-color: black;
    height: 3px;
    border: none;
    width: 62%;
    margin-top: 10px;
}