body {
    background: #262626;
}

.logo {
    display: block;
    margin: auto;
    padding: 100px 0px 50px 0px;
    width: 30%;
}

.wrapper 
{
    width: 350px;
    background: #262626;
    padding: 30px;
    margin: auto;
}

.wrapper .input-data 
{
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input{
    border: none;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #BEBEBE;
    font-size: 20px;
    background: #262626;
    color: #BEBEBE;
    outline: none;
    text-align: center;
}

.login-btn input
{
    background-color: #474747;
    font-size: 20px;
    color: #BEBEBE;
    padding: 5px 15px;
    font-family: Product Sans;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px;
    border:1px solid grey;
    text-decoration: none;
    outline: none;
    margin-top: 30px;
}