.wrapper {
    margin-top: 50px;
    margin-left: 50px;
}

.tab {
    display: inline-block;
    border: black solid;
    padding: 5px 10px;
    background: black;
    color: white;
}

.tab:hover{
    cursor: pointer;
    transition: all 0.3s;
}

#foodTab{
    background: white;
    color: black;
}

#food {
    display: block;
}

#drinks, #appetizers, #desserts {
    display: none;
}

.foodComponent {
    margin-top: 20px;
    width: 550px;
    height: 250px;
    border: black solid;
    display: flex;
    float: left;
    margin-right: 20px;
}

.foodImg {
    height: 200px;
    width: 200px;
    margin: 25px 25px;
    border: black solid;
}

.imageContainer {
    flex: 1;    
}

.foodInfo {
    flex:1;     
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.infoContainer {
    flex: 2;
}

.infoText {
    margin-top: 40px;   
}

.buttonContainer {
    flex: 1;
}

#button {
    margin-top: 25px;
    margin-left: 150px;
}

.foodDesc {
    overflow-wrap: break-word;
}

.addButton {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 30px;
    background: black;
    color: white;
    position: fixed;
    top: 85%;
    left: 94%;
    border: black solid;
    outline: none;
}

.addButton:hover {
    background: white;
    border:black solid;
    color: black;
    transition: all 0.4s;
    cursor: pointer;
}