

.wrapper {
    margin-top: 50px;
    margin-left: 50px;
}

.tab {
    display: inline-block;
    border: black solid;
    padding: 5px 10px;
    background: black;
    color: white;
}

.tab:hover{
    cursor: pointer;
    transition: all 0.3s;
}


#foodTab{
    background: white;
    color: black;
}

#food {
    display: block;
}

#drinks, #appetizers, #desserts {
    display: none;
}

.foodComponent {
    width: 550px;
    height: 250px;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    transition: all 1s;
    outline: 1px solid transparent;
}

.foodComponent:hover {
    transform: scale(1.025);
}

.foodComponent, .imageContainer, .foodInfo {
    display: flex;
}

.imageContainer {
    flex: 0 0 50%;
}

.foodInfo {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    max-width: 275px;
    border-right: black solid;
    transition: all 1s;
}

.foodImage {
    width: 200px;
    height: 200px;
    margin: 25px 36px;
    border: black solid;
}

.infoContainer {
    flex: 0 0 75%;
    overflow-wrap: break-word;
    overflow: hidden;
    padding-top: 25px;
}

.infoContainer p {
    padding-top: 5px;
}

.buttonContainer {
    flex: 0 0 25%;
}

#editbutton {
  margin-left: 110px;
  font-family: 'Josefin Sans', sans-serif;
}
#button {
  margin-top: -62px;
    margin-left: 170px;
    font-family: 'Josefin Sans', sans-serif;
}

.addButton {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 30px;
    background: black;
    color: white;
    position: fixed;
    top: 85%;
    left: 94%;
    border: black solid;
    outline: none;
}

.addButton:hover {
    background: white;
    border:black solid;
    color: black;
    transition: all 0.4s;
    cursor: pointer;
}
