@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#addadminprofile > div > div > div.modal-header1 {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

#edit > div > div > div.modal-header1 {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

#price,
#quantity,
#equantity {
  padding-left: 10px;
  border-radius: 5px;
  border-width: thin;
  width: 120px;
  text-align: center;
}

#product_info_table > tbody > tr > td:nth-child(7) > button{
  border-color: #ffc107;
  padding: 6px 12px;
  
}

#product_info_table > tbody > tr > td:nth-child(8) > a > button{
  border-color: #dc3545;
  padding: 6px 12px;
}

  #addd{
    margin-top: 1px;
    margin-right: 2px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
} 

#container {
  margin: auto;
  padding: 0;
  max-width: 100%;
}

#left {
  float: left;
}

#right {
  float: right;
}

.table tr,
.table td,
.table th {
  text-align: center;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#create,
#cancel {
  font-size: 18px;
}

