body {
  display:flex;
  font-family: "Lato", sans-serif;
  background-color: #f2ebeb;
}

.topbar {
    background: #262626;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.topbar span {
    margin: 3px;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

#barchart, #piechart, #curve_chart, #combochart{
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
