
.table{
  background-color: #f2ebeb;
  text-align: center;
}

.row{
  margin-left: -110px;
}
th{
  width: 600px;
}
.h2{
  colour: white;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.container{
  padding-left: 0px;
  padding-right: 60px;
}
.navbar-text{
  margin-left: 2rem;
}
