* {
  margin: 0;
  padding: 0;
}

ol, ul {
    padding-left: 0px;
}

.sidebar ul li {
    padding: 0px;
}

.container {
  margin: 50px auto;
  max-width: 100%;
  justify-content: center;
}
body > form > div.form-group > label {
  overflow: hidden;
  white-space: nowrap;
  width: 180px;
}

body>div.sidebar>ul {
    padding-left: 0;
}

a ,a:hover{
    text-decoration: none;
    font-size: 16px;
}

body > div.sidebar > ul > li{
    height: 49.600px;
}

body > div.sidebar > ul > li> a{
    height: 17.6px;
}

body > div.mainbody > div.topbar{
    height:52px;
}

body {
  display:flex;
  font-family: "Lato", sans-serif;
  background-color: #f2ebeb;
}

.topbar {
    background: #262626;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.topbar span {
    margin: 3px;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

#barchart, #piechart, #curve_chart, #combochart{
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#Attendacechart{
  margin: 80px;
}
