.profile{
    display: inline-block;
    height: 250px;
    width: 250px;
    text-align: center;
    transition: all 0.2s;
}

.profile img{
    margin: 10px 10px ;
    height: 100px;
    width: 100px;
}

.profile:hover{
    transform: scale(1.1);
}

.staff {
    margin-top: 50px;
    margin-left: 30px;
}

.searchbar{
    padding: 8px 10px;
    margin-top: 40px;
    width: 30%;
    border-radius: 5px;
    outline: none;
}

#addstaff{
    padding: 8px 10px;
    margin-left: 10px;
    border-radius: 10px;
    outline-style: none;
    cursor: pointer;
}