.profile{
    display: inline-block;
    height: 250px;
    width: 250px;
    text-align: center;
    transition: all 0.2s;
}

.profile img{
    margin: 10px 10px ;
    height: 100px;
    width: 100px;
}

.profile:hover{
    transform: scale(1.1);
}

.staff {
    margin-top: 50px;
    margin-left: 30px;
}